.members-list {
  border: 1px solid #E4E5E7;
  background-color: #fff;
  padding: 0px;
}
.members-list ul {
  margin-inline-start: 0 !important
}

.members-list .list-item {
  padding: 10px;
  border-bottom: 1px solid #E4E5E7;
}

.members-list .list-item:last-child {
  border-bottom: 0 !important;
}

.empty-state {
  color: #6C6C75;
  padding: 16px;
}