.members-list {
  border: 1px solid rgba(35, 25, 45, 0.1);

  padding: 0px;
}
.members-list ul {
  margin-inline-start: 0 !important;
}

.members-list .list-item {
  border-bottom: 1px solid rgba(35, 25, 45, 0.1);
}

.members-list .list-item:last-child {
  border-bottom: 0 !important;
}

.empty-state {
  color: #6c6c75;
  padding: 16px;
}
